@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* < !-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {

    min-height: 100vh;
    display: flex;
    place-items: center;
    margin: 0;
    background-color: rgb(253, 251, 248);
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

main {
    font-family: 'Hanken Grotesk';
    font-weight: 1000;
    /* min-width: 100px; */
    box-sizing: border-box;
    /* border: 2px solid black; */
    padding: 15rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: content;
    min-height: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    box-shadow: 10px 10px 30px -20px grey;
    background-color: rgb(255, 253, 253);
    flex-wrap: wrap;
    align-content: center;

}

main section {
    display: flex;
    width: 300px;
    max-width: 300px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 2em;

}

div#round {
    width: 10em;
    height: 10em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #4d22c9, #4734ef);
}

#sec1 {
    /* background-color: #312ceb; */

    background-image: linear-gradient(180deg, #6742ff, #312ceb);
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    border-radius: 2em;
    transition: all 0.5s;
}

#sec2 {
    border-radius: 2em;
    background-color: white;
    font-weight: 800;
    color: rgb(161, 158, 160);
}

#sec1 div:nth-of-type(2) {
    /* width: 100%; */
    text-align: center;
}

h1 {
    color: whitesmoke;
}

h2 {
    width: 100%;
    height: 5%;
    text-align: center;
    margin: 1em;
}

div.sumcon div.item {
    /* background-color: blue; */
    display: inline;
    text-align: left;
    width: 45%;
    padding: 1em 1em -1em 1em;
    margin: 1.5em 0;

    transition: all 0.5s;
}

div.sumcon div.summ {
    /* background-color: red; */
    width: 40%;
    display: inline;
    text-align: right;
    margin: 1.5em 0;
    padding: 1em -1em 1em 1em;
    transition: all 0.5s;
}

section button {
    margin: 1em;
    padding: 1em 7em;
    font-family: inherit;
    font-weight: 800;
    background-color: #303b59;
    color: white;
    border-radius: 5em;
    transition: all 0.1s;
}

section button:hover {
    margin: 1em;
    padding: 1em 7em;
    font-family: inherit;
    font-weight: 800;
    background-image: linear-gradient(180deg, #6742ff, #312ceb);
    color: white;
    border-radius: 5em;
    cursor: pointer;
    transform: translateY(-0.25em);

    box-shadow: 0.1em 0.6em 0.7em -0.25em grey;
}

section button:active:hover {
    margin: 1em;
    padding: 1em 7em;
    font-family: inherit;
    font-weight: 800;
    background-color: #303b59;
    color: white;
    border-radius: 5em;
    transform: translateY(+0.25em);
    box-shadow: none;
}

#round span {
    font-size: 3.5em;
    font-weight: 800;
    color: whitesmoke;
    transition: all 0.5s;
}

.summ span {
    font-size: medium;
    color: black;
}

div.sumcon {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em;

}

#sumtitle {
    text-align: left;
    margin-left: 0;
    color: black;
    /* padding-left: 1em; */
}


div.sumcon .titlecard {
    font-size: large;
    transform: translateY(-0.5em);
}

#info {
    transform: translateY(-20px);
    font-size: small;
    width: 60%;
}

div.mainsec {
    /* border: 2px solid grey; */
    background-color: white;
    width: 600px;
    border-radius: 2em;
    box-sizing: border-box;
    box-shadow: 5px 15px 30px 12px #e8edfe;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: content;
    min-height: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
}
@media only screen and (max-width: 830px) {

    main{
        padding: 0;
    }
}
@media only screen and (max-width: 800px) {
    div.mainsec {

        flex-direction: row;
        align-items: center;
        border-radius: 2em;
        box-sizing: border-box;
        box-shadow: 5px 15px 30px 12px #e8edfe;
        margin: 0;
        justify-self: center;
        align-content: center;
        flex-grow: 1;
        width: 100%;
    }

    main {
        font-family: 'Hanken Grotesk';
        font-weight: 1000;
        /* min-width: 100px; */
        box-sizing: border-box;
        /* border: 2px solid black; */
        padding: 0 0;
        margin: 0 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: content;
        min-height: fit-content;
        max-height: fit-content;
        min-width: fit-content;
        max-width: fit-content;
        box-shadow: 10px 10px 30px -20px grey;
        background-color: rgb(255, 253, 253);
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        max-width: 100%;
        /* flex-grow: 1; */
    }

    body {
        min-height: 100vh;
        display: flex;
        place-items: center;
        margin: 0;
        padding: 0;
        background-color: rgb(253, 251, 248);
        align-content: flex-start;
        justify-content: flex-start;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        width: 100%;
        max-width: 100%;
        flex-grow: 1;
    }


}

#r1 {
    background-color: rgba(255, 0, 0, 0.05);
}

#reaction {
    color: red;
}

#m2 {
    background-color: rgba(255, 166, 0, 0.05);
}

#memory {
    color: orange;
}

#v3 {
    background-color: rgba(0, 128, 0, 0.05);
}

#verbal {
    color: green
}

#v4 {
    background-color: rgba(128, 0, 128, 0.05);
}

#visual {
    color: blueviolet;
}

img {
    transform: translateY(0.25em);
}

div .item {
    padding-bottom: 0.25em;
}